
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12">

            <!-- Title -->
            <h1 class="mt-4" style="text-align:center;margin-bottom:20px;">Korona Virüs Testi</h1>
            <div style="margin-top:20px;margin-bottom:20px;">
                <img src="~/img/corona.jpg" />
            </div>
            <br />
            <div style="text-align:center;margin-bottom:50px;">
                    <a class="btn btn-success" style="font-size:large;text-align:center" asp-controller="Page" asp-action="TesteBasla">Teste başlamak için tıklayınız.</a>
            </div>
            <br />
            <br />
        </div>
        
</div>
    </div>
       

    <!-- /.row -->

