@model Test
@{
    ViewData["Title"] = "TesteBasla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
    <div class="container" style="background-color:antiquewhite;width:1000px;height:1000px">
        <div style="text-align:center">
            <h3 style="color:grey"></h3>
        </div>
        <br />
        <form method="post">
            <div class="form-group">


                <label class="col-form-label" asp-for="Ad">Lütfen Adınızı Giriniz</label>
                <input type="text" asp-for="Ad" class="form-control" />

                


                <label class="col-form-label" asp-for="UcuncuSoru">Ateşiniz 36 derecenden yüksek mi?</label>
                <select class="form-control" asp-for="UcuncuSoru">
                    <option value="" selected disabled hidden>Seçin</option>

                    <option value="1">Evet,Yüksek</option>
                    <option value="0">Yüksek Değil</option>
                </select>
                <label class="col-form-label" asp-for="DorduncuSoru">Burun akıntısı yaşadığınız oluyor mu?</label>
                <select class="form-control" asp-for="DorduncuSoru">
                    <option value="" selected disabled hidden>Seçin</option>

                    <option value="1">Evet,Oluyor</option>
                    <option value="0">Hayır,Olmuyor</option>
                </select>


                <label class="col-form-label" asp-for="BesinciSoru">Nefes almada zorluk ya da nezle durumu yaşıyor musunuz</label>
                <select class="form-control" asp-for="BesinciSoru">
                    <option value="" selected disabled hidden>Seçin</option>

                    <option value="1">Evet Yaşıyorum</option>
                    <option value="0">Hayır,Yaşamıyorum</option>
                </select>
                <label class="col-form-label" asp-for="AltinciSoru">Ağır ve uzun süren öksürüğünüz var mı?</label>
                <select class="form-control" asp-for="AltinciSoru">
                    <option value="" selected disabled hidden>Seçin</option>

                    <option value="1">Var,Oluyor</option>
                    <option value="0">Yok,Olmuyor</option>
                </select>

            </div>
            <div style="text-align:center">
                <button type="submit" class="btn btn-primary">Test sonucunu öğren</button>
            </div>
        </form>
    </div>



