
@{
    ViewData["Title"] = "KoronaVirustenNasılKorunulur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width:800px;height:700px;">
    <div style="text-align:center">
        <h3 class="h3">KORONA VİRUSTEN NASIL KORUNULUR?</h3>
    </div>
    <p>
        WHO virüsten korunmak için şu tavsiyelerde bulunuyor: Ellerinizi yıkayın - sabun veya el temizlik jelleri virüsü öldürebilir Öksürürken veya hapşırırken ağzınızı ve burnunuzu mendille kapatın ve sonrasında virüsün yayılmasına engel olmak için ellerinizi yıkayın Gözlerinize, burnunuza ve ağzınıza dokunmaktan kaçının - elleriniz virüsün değdiği bir yere dokunursa virüs vücudunuza bulaşabilir Öksüren, hapşıran veya ateşi yüksek kişilerden uzak durun - 1 metre uzak durmak havaya bulaşabilecek virüsten korunmanızı sağlar
    </p>

</div>
