
@{
    ViewData["Title"] = "CORONA VİRÜSÜ NE KADAR ÖLÜMCÜL?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width:800px;height:700px;">
    <div style="text-align:center">
        <h3 class="h3">
            KORONA VİRÜSÜ NE KADAR ÖLÜMCÜL?
        </h3>
    </div>
    <p>WHO'nun 44 bin hastaya dayandırdığı araştırma verilere göre virüsün bulaştığı kişilerin: %81'i hafif atlatıyor %14'ü ciddi geçiriyor %5'i ağır hastalanıyor Covid-19'dan ölenlerin oranı ise %1 ila %2 arasında. Hastalığın 9 yaşın altındaki çocuklarda pek görülmediği 80 yaş üzerinde ve solunum yolları hastalıkları olanlarda ise ölümcüllük oranının çok yükseldiği anlaşılıyor. Ama bildirilen rakamların hepsi güvenilir değil. Her yıl yaklaşık bir milyar kişi sıradan soğuk algınlığı yaşıyor ve bu hastalıktan ölenlerin sayısı 290 bin ila 650 bin arasında değişiyor. Grip vakalarının ciddiyeti her yıl değişiyor. SARS salgınında ölüm oranı Koronavirüs'e göre çok daha yüksekti ve hastalığa yakalananların yüzde 9'u hayatlarını kaybetmişti. Ancak koronavirüsün bulaşmasıyla başlayan hastalık sürecinin görece uzun olduğu ve ölü sayısının ilerleyen günlerde artabileceği uyarıları da yapılıyor. Henüz salgının boyutları da tam olarak bilinmediği için bu yeni virüsün yol açabileceği ölümlere dair bir tahmin yürütmek zorlaşıyor.</p>
</div> 