
@{
    ViewData["Title"] = "VirusSonuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width:800px;height:700px;">
    <div style="text-align:center">
        <br />
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Sayın <b>@ViewBag.ad</b> Hastalık taşıyor olabilirsiniz.</h4>
            <p>
                  Vermiş olduğunuz bilgilere dayanarak <b>KORONA VİRUS</b> taşıma ihtimaliniz vardır,
                   Endişeye kapılmadan en yakın sağlık kuruluşuna yöneliniz.
            </p>
            <hr>
            <p class="mb-0">Testiniz Pozitif çıktığından dolayı lütfen hastaneye giderken maske ve eldivenli bir şekilde gidelim.</p>
        </div>


    </div>

</div>

