
@{
    ViewData["Title"] = "VirusSonuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width:800px;height:700px;">
    <div style="text-align:center">
        <h3> Sayın @ViewBag.messageTest Sonucunuz Pozitiftir En yakın sağlık kuruluşuna yönelin.</h3>
        

    </div>

</div>

